* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    color: hsl(214, 17%, 51%);
    line-height: 1.4;
}
h1 {
    font-size: 1rem;
    
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}
h2 {
    font-size: .9rem;
    color: hsl(217, 19%, 35%);
}

p {
    font-weight: 500;
    margin-top:20px ;
    font-size: .85rem;
    padding: 0 3px;
}


.container {
    background-color: white;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;    
    margin: 100px auto 25px;
}


.seccion1 img {
    
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.seccion2 {
    padding: 35px;
}

.perfil {
    display: flex;
    justify-content: space-between;
}


.perfil p {
    margin: 10px 35px 0 0;
}

.attribution {
    text-align: center;
    color: rgb(8, 156, 156);
}

a{
    color: black;
}

.perfil {
    margin-top: 35px;
}

.perfil img:nth-child(1) {
    border-radius: 50%;
    width: 3.25rem;
}

.share {
    height: 25px;
    margin-top: 15px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    cursor: pointer;
}








@media (min-width:1000px) {

    .container{
        margin-top: 250px;
        display: flex;
        max-width: 750px;

    }
    .seccion1 {
        flex: 0 0 320px;
    }


    h1 {
        font-size: 1.25rem  ;
    }
    .perfil p {
        margin-right: 7.8125rem;
    }
}
    

